.main-algarve{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.setinha{
    width: 3%;
    height: 5%;
    position: fixed;
    top: 90%;
    animation: setinha 0.8s ease-out infinite;
    z-index: 2;
    left: 50%;
}   

.main-algarve-titulo{
    width: 100%;
    height: 20vh;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-algarve-titulo > h1{
    font-size: 4rem;
    letter-spacing: 10px;
    font-weight: 800;
    animation: aparecer-titulo 2s ease-out;
}

.main-algarve-container{
    width: 90%;
    height: 160vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.main-algarve-card{
    width: 35%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-algarve-card-preto{
    width: 80%;
    height: 80%;
    background-color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.main-algarve-card-preto > img{
    width: 92%;
    height: 50%;
}

.main-algarve-card-preto > h3 {
    width: 80%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 3px;
}

.main-card-preto-informacoes{
    display: none;

}


.main-algarve-card-preto:hover .main-card-preto-informacoes{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    animation: aparecer 0.5s;
}

.main-card-preto-informacoes > h3{
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card-preto-informacoes > p{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }

}